In [1]:
#index error
#mylist=[14, "hello", 967]
#mylist[6]

# Il n' ya que 3 éléments dans la liste et non 7

mylist=[14, "hello", 967]
mylist[1]

'hello'

In [2]:
#index error
#import Pandas
#import NumPy


import pandas as pd
import numpy as np

In [3]:
#syntax error
#Print"python errors"

print("python errors")

python errors

In [4]:
#key error
#mydictionnary={True:"hello",False:"bye", '3':"python"}
#mydictionnary['True']

mydictionnary={"True":"hello","False":"bye", '3':"python"}
mydictionnary["True"]

'hello'

In [5]:
#indentation error
#i=14
#while i<78:
#print(i)
#i+=1

i=14
while i<78:
    print(i)
    i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [7]:
#StopIteration
#it=iter([1,2,3])
#next(it)
#next(it)
#next(it)
#next(it)

it=iter([1,2,3])
next(it)
next(it)
next(it)

3

In [9]:
#TypeError
#'15'+15  # Addition d'un entier avec un objet

15 + 15

30

In [12]:
#ValueError
#int('python') # python n'est par un nombre

int(3.5)

3

In [13]:
#NameError
#python

print("python")

python

In [16]:
#ZeroDivisionError

#x=19/0 # division par zéro

def divide_two_numbers():
    a = input("Enter an integer: ")
    b = input("Enter an other integer: ")
    c =(int(a)/int(b)) if int(b)!= 0 else "division impossible"  
    print(c)
divide_two_numbers()

Enter an integer: 19
Enter an other integer: 0
division impossible